/* Ant design base component style */

/* BUTTON */
.ant-btn {
  padding-block: 20px;
  box-shadow: none !important;
  /* font-weight: 400 !important; */
}

.ant-btn-color-primary {
  border: 2px solid #fff !important;
}

.ant-btn-color-primary:hover {
  border: 2px solid #abf08d !important;
  background-color: var(--color-primary) !important;
}

.ant-btn-variant-text {
  border: 2px solid transparent !important;
}

.ant-btn-variant-text:hover {
  background-color: #fff !important;
  border: 2px solid #dde1e6 !important;
}

.ant-btn-color-dangerous {
  border: 2px solid #fff !important;
}

.ant-btn-color-dangerous:hover {
  border: 2px solid #ffb3b8 !important;
}

/* TAG */
.ant-tag {
  border-radius: 9999px !important;
  padding: 0 8px !important;
}

/* SEGMENTED */
.ant-segmented-group {
  border-radius: 9999px !important;
}

.ant-segmented-item {
  border-radius: 9999px !important;
}

.ant-segmented-thumb {
  border-radius: 9999px !important;
}

/* TABS */
.ant-tabs-ink-bar {
  border-radius: 9999px 9999px 0 0 !important;
  height: 3px !important;
}

/* TABLE */
.ant-table-thead > tr > th:first-child {
  border-radius: 8px 0 0 8px !important;
}

.ant-table-thead > tr > th:last-child {
  border-radius: 0 8px 8px 0 !important;
}

.ant-table-thead .ant-table-cell {
  text-transform: uppercase !important;
}

.ant-table-cell {
  padding: 10px !important;
  border-bottom: none !important;
}

/* MENU */
.ant-menu {
  margin: 0 !important;

  padding-inline: 16px !important;
}

.ant-menu-item {
  border: 1px solid transparent !important;
  border-radius: 9999px !important;
  /* padding-inline: 16px !important; */
  margin-inline: 0 !important;
}

.ant-menu-item-selected {
  border: 1px solid #dde1e6 !important;
  border-radius: 9999px !important;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

/* SIDER */
.ant-layout-sider {
  border-radius: 24px !important;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}
