/* Ant design base component style */

.ant-typography,
.ant-btn,
.ant-input {
  font-family: 'Inter', system-ui, sans-serif;
}

/* BUTTON */
.ant-btn {
  padding-block: 20px;
  box-shadow: none !important;
  /* font-weight: 400 !important; */
}

.ant-btn-color-primary {
  border: 2px solid #fff !important;
}

.ant-btn-color-primary:hover {
  border: 2px solid #abf08d !important;
  background-color: var(--color-primary) !important;
}

.ant-btn-variant-text {
  border: 2px solid transparent !important;
}

.ant-btn-variant-text:hover {
  background-color: #fff !important;
  border: 2px solid #dde1e6 !important;
}

.ant-btn-color-dangerous {
  border: 2px solid #fff !important;
}

.ant-btn-color-dangerous:hover {
  border: 2px solid #ffb3b8 !important;
}

/* TAG */
.ant-tag {
  border-radius: 9999px !important;
  padding: 0 8px !important;
}

/* SEGMENTED */
.ant-segmented-group {
  border-radius: 9999px !important;
}

.ant-segmented-item {
  border-radius: 9999px !important;
}

.ant-segmented-thumb {
  border-radius: 9999px !important;
}

/* TABS */
.ant-tabs-ink-bar {
  border-radius: 9999px 9999px 0 0 !important;
  height: 3px !important;
}

/* TABLE */
.ant-table-thead > tr > th:first-child {
  border-radius: 8px 0 0 8px !important;
}

.ant-table-thead > tr > th:last-child {
  border-radius: 0 8px 8px 0 !important;
}

.ant-table-thead .ant-table-cell {
  text-transform: uppercase !important;
}

.ant-table-cell {
  padding: 10px !important;
  border-bottom: none !important;
}

/* MENU */
.ant-menu {
  margin: 0 !important;
  padding-inline: 16px !important;
}

.ant-menu-item {
  border: 1px solid transparent !important;
  border-radius: 9999px !important;
  /* padding-inline: 16px !important; */
  margin-inline: 0 !important;
}

.ant-menu-item-selected {
  border: 1px solid #dde1e6 !important;
  border-radius: 9999px !important;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

/* SIDER */
.ant-layout-sider {
  border-radius: 24px !important;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

/* FORM */
.ant-form-item-label {
  padding-bottom: 4px !important;
}

/* INPUT */
.ant-input {
  padding: 12px !important;
}

/* SELECT */
.ant-select {
  padding: 12px !important;
}

/* SWITCH */
.ant-switch {
  box-sizing: border-box;
}

.ant-switch-handle {
  top: 50% !important;
  transform: translateY(-50%);
}

.ant-switch-handle::before {
  border-radius: 9999px;
}

.ant-switch[aria-checked='false'] {
  background-color: #f2f4f8 !important;
  border: 1px solid #c1c7cd !important;
}

.ant-switch[aria-checked='false'] .ant-switch-handle::before {
  background-color: #282e23 !important;
}

.ant-switch[aria-checked='true'] {
  background-color: #9fe870 !important;
  border: 1px solid #9fe870 !important;
}

/* CHECKBOX */
.ant-checkbox-inner {
  border: 1px solid #c1c7cd !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #282e23 !important;
  border: 1px solid #282e23 !important;
}

/* RADIO */
.ant-radio-inner {
  border: 1px solid #1b2f12 !important;
}

/* inner dot */
.ant-radio-checked .ant-radio-inner {
  background-color: #fff !important;
}

.ant-radio-checked .ant-radio-inner::after {
  width: 24px; /* 👈 increase size */
  height: 24px;
  background-color: #10110f !important;

  /* 👇 PERFECT CENTERING */
  top: 20%;
  left: 22%;
  transform: translate(-50%, -50%) scale(1);
}
