@import 'tailwindcss';
@import './ant.css';

:root {
  --color-primary: #9fe870;
  --color-danger: #da1e28;
}

html,
body {
  /* font-family: 'Inter', sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.borderr {
  border: 1px solid red !important;
}

.grid-col-transition {
  transition:
    flex-basis 0.3s ease,
    max-width 0.3s ease,
    width 0.3s ease;
}