@import 'tailwindcss';
@import './ant.css';

:root {
  --color-primary: #9fe870;
  --color-danger: #da1e28;
}

html,
body {
  /* font-family: 'Inter', sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.borderr {
  border: 1px solid red !important;
}

.grid-col-transition {
  transition:
    flex-basis 0.3s ease,
    max-width 0.3s ease,
    width 0.3s ease;
}

.bg-gradient {
  background: conic-gradient(
    from 90deg at 50% 50%,
    #fff 0deg,
    #deffe4 135deg,
    #fff 179.78123903274536deg,
    #ceffd8 287.30769395828247deg,
    #fff 360deg
  );
}
