@import 'tailwindcss';
@import './ant.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
  --color-primary: #9fe870;
  --color-secondary: #70746d;
  --color-warning: #fff196;
  --color-danger: #da1e28;
}

html,
body {
  font-family: 'Inter', system-ui, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.borderr {
  border: 1px solid red !important;
}

.grid-col-transition {
  transition:
    flex-basis 0.2s ease,
    max-width 0.2s ease,
    width 0.2s ease;
}

.bg-gradient {
  background: conic-gradient(
    from 90deg at 50% 50%,
    #fff 0deg,
    #deffe4 135deg,
    #fff 179.78123903274536deg,
    #ceffd8 287.30769395828247deg,
    #fff 360deg
  );
}
