/* Wrapper should NOT have border */
.results-table {
  border: none;
}

/* Apply border & radius to the REAL container */
.results-table .ant-table-container {
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
}

/* Remove default table spacing */
.results-table .ant-table {
  margin: 0;
}

/* Optional: row divider */
.results-table .ant-table-tbody > tr > td {
  border-bottom: 1px solid #e5e7eb !important;
  padding: 16px !important;
    vertical-align: top !important;

}

.results-table .ant-table-tbody > tr:last-child > td {
  border-bottom: none;
}
